body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #212121;
  background: #FFFFFF;
  font-size: 14px;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  body.menu-open {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 767px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
}

.section-title {
  color: var(--main-color);
  font-size: 36px;
  line-height: 1.16;
  margin: 0px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

:root {
  --main-color: #212121 ;
  --hover-text-color: #2196F3;
  --description-color: #757575;
  --button-color: #FFFFFF;
  --hover-sprite-color: #FFFFFF;
  --sprite-color: #afb1b8;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --overlay-description-color: #fff;
  --apply-button-color: #2196F3;
  --banner-inscr-cl: #FFFFFF;
  --logo-color: #2196F3;
  --hd-logo-second-cl: #000;
  --ft-logo-second-cl: #FFF;
  --close-icon-cl: #000;
  --subscribe-cl: #FFF;
  --send-icon-cl: #FFF;
  --adress-cl: #FFF;
  --adress-link-cl: #FFF;
  --footer-contacts-cl: rgba(255, 255, 255, 0.6);
  --footer-social-contact-cl: #FFFFFF;
  --subscribe-title-cl: #FFFFFF;
  --footer-input-cl: #FFFFFF;
  --menu-color: #212121;
  --phone-nmb-mobile: #2196F3;
  --phone-nmb: #757575;
  --email-cl: #757575;
  --social-name-cl: #2196F3;
  --main-page-cl: #2196F3;
  --modal-apply-tx: #757575;
  --modal-title-cl: #212121;
  --header-border-cl: #ECECEC;
  --border-color: #757575;
  --hover-border-color: #2196F3;
  --footer-link-brd: #43444D;
  --close-icon-brd: rgba(0, 0, 0, 0.1);
  --apply-icon-brd: #212121;
  --order-brd: #2196F3;
  --filter-button-brd: #F5F4FA;
  --footer-input-brd: rgba(255, 255, 255, 0.3);
  --main-background: #FFFFFF;
  --button-backgroun: #2196F3;
  --personal-card-background: #FFFFFF;
  --project-card-background: #FFFFFF;
  --what-we-do-bg: rgba(47, 48, 58, 0.8);
  --footer-link-bg: #43444D;
  --backdrop-bg: rgba(0, 0, 0, 0.2);
  --order-bg: #2196F3;
  --filter-button-bg: #F5F4FA;
  --footer-bg: #2F303A;
  --icon-bg: #F5F4FA;
  --our-team-bg: #F5F4FA;
  --menu-bg: #FFFFFF;
  --hover-sprite: #2196F3;
  --hover-close-bt: #2196F3;
  --s-weight: 400;
  --m-weight: 500;
  --l-wight: 700;
  --xl-weight: 900;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .header {
    border-bottom: 1px solid var(--header-border-cl);
  }
  .header__header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid var(--header-border-cl);
    background: var(--main-background);
    padding: 24px 0 25px 0;
  }
  .header__header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .nav-cont {
    padding: 16px 0 16px 15px;
  }
}
@media screen and (min-width: 768px) {
  .nav-cont {
    padding: 21px 0 5px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .nav-cont {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    list-style-type: none;
    padding: 48px 0 0 40px;
  }
  .nav > li {
    margin-bottom: 33px;
  }
  .nav__main-page, .nav__portfolio, .nav__contacts-button, .nav__studio {
    text-decoration: none;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.1;
    color: var(--menu-color);
  }
  .nav__main-page:hover, .nav__portfolio:hover, .nav__contacts-button:hover, .nav__studio:hover, .nav__main-page:focus, .nav__portfolio:focus, .nav__contacts-button:focus, .nav__studio:focus {
    color: var(--hover-text-color);
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style-type: none;
  }
  .nav > li {
    margin-right: 50px;
  }
  .nav__main-page, .nav__portfolio, .nav__contacts-button, .nav__studio {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    color: var(--menu-color);
  }
  .nav__main-page:hover, .nav__portfolio:hover, .nav__contacts-button:hover, .nav__studio:hover, .nav__main-page:focus, .nav__portfolio:focus, .nav__contacts-button:focus, .nav__studio:focus {
    color: var(--hover-text-color);
  }
  .nav__main-page {
    position: relative;
    color: var(--main-page-cl);
  }
  .nav__main-page::after {
    content: "";
    position: absolute;
    background: var(--hover-text-color);
    border-radius: 2px;
    left: 0;
    bottom: -30px;
    width: 100%;
    height: 4px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style-type: none;
    padding: 0;
    width: 294px;
    margin-left: 93px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__main-page {
    color: var(--hover-text-color);
    text-decoration: none;
    font-style: normal;
    font-weight: var(--m-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    position: relative;
    display: inline-block;
  }
  .nav__main-page::after {
    content: "";
    position: absolute;
    background: var(--hover-text-color);
    border-radius: 2px;
    left: 0;
    bottom: -40px;
    width: 100%;
    height: 4px;
  }
  .nav__studio {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
    color: var(--main-color);
    text-decoration: none;
    font-style: normal;
    font-weight: var(--m-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .nav__studio:hover {
    color: var(--button-backgroun);
  }
  .nav__studio:focus {
    color: var(--button-backgroun);
  }
  .nav__portfolio {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
    color: #212121;
    text-decoration: none;
    font-style: normal;
    font-weight: var(--m-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .nav__portfolio:hover {
    color: var(--button-backgroun);
  }
  .nav__portfolio.portfolio:focus {
    color: var(--button-backgroun);
  }
  .nav__contacts-button {
    font-style: normal;
    font-weight: var(--m-weight);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
    color: var(--main-color);
    text-decoration: none;
  }
  .nav__contacts-button:hover {
    color: var(--button-backgroun);
  }
  .nav__contacts-button:focus {
    color: var(--button-backgroun);
  }
}

.contacts-section {
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .contacts-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
  .contacts-section:first-child > li {
    margin-top: 32px;
  }
  .contacts-section__contacts {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.16;
    color: var(--email-cl);
  }
  .contacts-section__contacts-phone {
    text-decoration: none;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    color: var(--phone-nmb-mobile);
  }
  .contacts-section__contacts-icon, .contacts-section__contacts-icon-phone {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts-section {
    padding: 0;
    margin: 0 auto;
  }
  .contacts-section:first-child > li {
    margin-bottom: 10px;
  }
  .contacts-section__contacts {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    color: var(--email-cl);
  }
  .contacts-section__contacts-phone {
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    color: var(--phone-nmb);
  }
  .contacts-section__contacts-icon {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .contacts-section__contacts-icon-phone {
    width: 10px;
    height: 14px;
    margin-right: 10px;
  }
}

.social-network-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.social-network-menu__social-name {
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  color: var(--social-name-cl);
}
.social-network-menu__roll {
  margin-right: 10px;
}
@media screen and (max-width: 370px) {
  .social-network-menu {
    padding: 3px;
  }
}
@media screen and (min-width: 768px) {
  .social-network-menu {
    display: none;
  }
}

.nav-cont__webstudio {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--logo-color);
}

.nav-cont__mark {
  color: var(--hd-logo-second-cl);
}

.webstudio-footer {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--logo-color);
}
@media screen and (max-width: 1199px) {
  .webstudio-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.mark-footer {
  margin-top: 60px;
  color: var(--ft-logo-second-cl);
}
@media screen and (max-width: 1199px) {
  .mark-footer {
    margin: 0;
  }
}

.menu-button {
  position: absolute;
  top: 21px;
  right: 25px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.menu-button .icon-close-menu {
  display: none;
}
.menu-button.is-opened .icon-close-menu {
  display: block;
}
.menu-button.is-opened .icon-menu {
  display: none;
}
.menu-button:hover, .menu-button:focus {
  fill: var(--hover-close-bt);
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-cont {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--menu-bg);
    text-align: center;
    z-index: 1;
  }
  .menu-cont.is-opened {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .menu-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
@media screen and (min-width: 1200px) {
  .menu-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-section {
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    list-style-type: none;
    padding: 0;
    list-style: 0;
    margin: 0 0 0 250px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contacts-section__contacts {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
    letter-spacing: 0.02em;
    font-weight: var(--m-weight);
    font-size: 14px;
    line-height: 1.14;
    color: var(--description-color);
    text-decoration: none;
  }
  .contacts-section__contacts-phone {
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
    letter-spacing: 0.02em;
    font-weight: var(--m-weight);
    font-size: 14px;
    line-height: 1.14;
    color: var(--description-color);
    text-decoration: none;
  }

  .contacts-section > li {
    padding-left: 30px;
  }

  .contacts-section__contacts-icon {
    position: relative;
    top: 1px;
    width: 16px;
    height: 12px;
    fill: var(--sprite-color);
    margin-right: 10px;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
  }

  .contacts-section__contacts-icon-phone {
    position: relative;
    top: 2px;
    width: 10px;
    height: 16px;
    fill: var(--sprite-color);
    margin-right: 10px;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
  }

  .contacts-section__contacts:focus,
.contacts-section__contacts:hover {
    color: var(--button-backgroun);
  }

  .contacts-section__contacts-phone:focus,
.contacts-section__contacts-phone:hover {
    color: var(--button-backgroun);
  }

  .contacts-section__contacts:hover > .contacts-section__contacts-icon {
    fill: var(--hover-border-color);
  }

  .contacts-section__contacts:focus > .contacts-section__contacts-icon {
    fill: var(--button-backgroun);
  }

  .contacts-section__contacts-phone:hover > .contacts-section__contacts-icon {
    fill: var(--hover-border-color);
  }

  .contacts-section__contacts-phone:focus > .contacts-section__contacts-icon {
    fill: var(--button-backgroun);
  }

  .contacts-section__contacts:focus > .contacts-section__contacts-icon-phone {
    fill: var(--button-backgroun);
  }

  .contacts-section__contacts:hover > .contacts-section__contacts-icon-phone {
    fill: var(--hover-border-color);
  }

  .contacts-section__contacts-phone:focus > .contacts-section__contacts-icon-phone {
    fill: var(--button-backgroun);
  }

  .contacts-section__contacts-phone:hover > .contacts-section__contacts-icon-phone {
    fill: var(--hover-border-color);
  }
}
.social-network-icon {
  width: 20px;
  height: 20px;
  fill: var(--sprite-color);
}

.social-network-cont {
  border: 1px solid var(--personal-card-background);
  border-radius: 50%;
  background: var(--personal-card-background);
  width: 44px;
  height: 44px;
  margin-right: 10px;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
     transition-duration: 0.8s;
}
.social-network-cont:last-child {
  margin-right: 0;
}

.social-network-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  padding: 0;
}

.social-network-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  height: 42px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
     transition-duration: 0.4s;
}

.social-network-cont:hover {
  background: var(--hover-border-color);
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
     transition-duration: 0.4s;
}

.social-network-cont:focus-within {
  background: var(--hover-border-color);
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
     transition-duration: 0.4s;
}

.social-network-link:hover > .social-network-icon {
  fill: var(--hover-sprite-color);
}

.social-network-link:focus > .social-network-icon {
  fill: var(--hover-sprite-color);
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
     transition-duration: 0.4s;
}

.footer-contacts-link {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 0;
  margin-top: 20px;
}
.footer-contacts-link > li {
  margin-right: 10px;
}
.footer-contacts-link > li:last-child {
  margin: 0;
}

.footer-social-network-link {
  width: 20px;
  height: 20px;
  fill: var(--hover-sprite-color);
}

.footer-link-cont {
  border: 1px solid var(--footer-link-brd);
  border-radius: 50%;
  background: var(--footer-link-bg);
  width: 44px;
  height: 44px;
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
     transition-duration: 0.8s;
}

.footer-link {
  width: 42px;
  height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .hero-section {
    background: var(--main-background);
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(#2F303A66), to(#2F303A66)), url(../images/bannerimgm.jpg);
    background-image: -o-linear-gradient(left, #2F303A66, #2F303A66), url(../images/bannerimgm.jpg);
    background-image: linear-gradient(to right, #2F303A66, #2F303A66), url(../images/bannerimgm.jpg);
    padding: 118px 0 118px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero-section {
    background: var(--main-background);
    background-size: cover;
    background-image: -webkit-gradient(linear, left top, right top, from(#2F303A66), to(#2F303A66)), url(../images/bannerimgtb.jpg);
    background-image: -o-linear-gradient(left, #2F303A66, #2F303A66), url(../images/bannerimgtb.jpg);
    background-image: linear-gradient(to right, #2F303A66, #2F303A66), url(../images/bannerimgtb.jpg);
    padding: 118px 0 118px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .hero-section {
    padding: 200px 0 200px 0;
    background: var(--main-background);
    background-image: -webkit-gradient(linear, left top, right top, from(#2F303A66), to(#2F303A66)), url(../images/bannerimg.jpg);
    background-image: -o-linear-gradient(left, #2F303A66, #2F303A66), url(../images/bannerimg.jpg);
    background-image: linear-gradient(to right, #2F303A66, #2F303A66), url(../images/bannerimg.jpg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1600px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) {
  .hero-section .banner-inscription {
    text-transform: uppercase;
    margin-bottom: 30px;
    letter-spacing: 0.06em;
    font-size: 24px;
    font-weight: 900;
    line-height: 1.6;
    color: var(--banner-inscr-cl);
  }
}
@media screen and (min-width: 1200px) {
  .hero-section .banner-inscription {
    margin-bottom: 30px;
    color: var(--banner-inscr-cl);
    font-weight: var(--xl-weight);
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
.hero-section .banner {
  text-align: center;
}

.backdrop {
  padding: 93px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--backdrop-bg);
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  -o-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  overflow-y: scroll;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  background: var(--main-background);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .modal {
    top: 50%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    -o-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 50%;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
    -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    -o-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  }
}

.icon-close {
  width: 11px;
  height: 11px;
  fill: var(--close-icon-cl);
}

.form-cont {
  padding: 40px 39px 0 41px;
}
.modal-title {
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--modal-title-cl);
}

.form-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-bottom: 10px;
  position: relative;
}
.form-label:hover > .icon-name {
  fill: var(--hover-border-color);
}
.form-label:focus-within > .icon-name {
  fill: var(--hover-border-color);
}
.form-label:hover > .icon-phonelabel {
  fill: var(--hover-border-color);
}
.form-label:focus-within > .icon-phonelabel {
  fill: var(--hover-border-color);
}
.form-label:hover > .icon-emaillabel {
  fill: var(--hover-border-color);
}
.form-label:focus-within > .icon-emaillabel {
  fill: var(--hover-border-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.form-input:hover {
  border-color: var(--hover-border-color);
}
.form-input:focus {
  border-color: var(--hover-border-color);
  outline: none;
}

.input-name {
  padding-bottom: 4px;
}

.icon-name {
  width: 12px;
  height: 12px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-15%);
      -ms-transform: translateY(-15%);
          transform: translateY(-15%);
}

.icon-phonelabel {
  width: 13px;
  height: 13px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-15%);
      -ms-transform: translateY(-15%);
          transform: translateY(-15%);
}

.icon-emaillabel {
  width: 15px;
  height: 12px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-15%);
      -ms-transform: translateY(-15%);
          transform: translateY(-15%);
}

.comment {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  padding: 12px 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}
.comment:hover {
  border: 1px solid var(--hover-border-color);
}
.comment:focus {
  outline: none;
  border: 1px solid var(--hover-border-color);
}

.apply {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.apply-icon {
  display: inline-block;
  width: 18px;
  height: 15px;
  border: 2px solid var(--apply-icon-brd);
  border-radius: 2px;
}

.terms {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
  color: var(--hover-text-color);
  padding-left: 3px;
}

@media screen and (max-width: 370px) {
  .apply-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    color: var(--modal-apply-tx);
    margin-left: 0;
  }
}
@media screen and (min-width: 371px) {
  .apply-title {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    color: var(--modal-apply-tx);
    margin-left: 8px;
  }
}
@media screen and (min-width: 768px) {
  .apply-title {
    margin-left: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .apply-title {
    margin-left: 8px;
  }
}

.order {
  color: var(--button-color);
  cursor: pointer;
  background: var(--order-bg);
  border-color: var(--order-brd);
  border: 1px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
     transition-duration: 0.4s;
  letter-spacing: 0.06em;
}

.close-button {
  background: var(--main-background);
  width: 30px;
  height: 30px;
  border: 1px solid var(--close-icon-brd);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  float: right;
  top: 8px;
  right: 8px;
}
.close-button:hover > .icon-close {
  fill: var(--hover-border-color);
}
.close-button:focus-within > .icon-close {
  fill: var(--hover-border-color);
}

.apply-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.apply-button:checked + .apply-icon {
  background-size: contain;
  background-origin: border-box;
  border-color: var(--apply-button-color);
  background: var(--apply-button-color);
  background-image: url("../images/apply.svg");
}

.send-mes {
  color: var(--button-color);
  background: var(--button-backgroun);
  border: 1px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.subscribe {
  width: 200px;
  height: 50px;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  color: var(--subscribe-cl);
  background-color: var(--button-backgroun);
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
}

.send-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--send-icon-cl);
}

.close-button {
  background: var(--main-background);
  width: 30px;
  height: 30px;
  border: 1px solid var(--close-icon-brd);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  float: right;
  top: 8px;
  right: 8px;
}
.close-button:hover > .icon-close {
  fill: var(--hover-border-color);
}
.close-button:focus-within > .icon-close {
  fill: var(--hover-border-color);
}

.apply-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.apply-button:checked + .apply-icon {
  background-size: contain;
  background-origin: border-box;
  border-color: var(--apply-button-color);
  background: var(--apply-button-color);
  background-image: url("../images/apply.svg");
}

.send-mes {
  color: var(--button-color);
  background: var(--button-backgroun);
  border: 1px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
}

.filters-button-section {
  list-style: none;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin-bottom: 50px;
  margin-top: 0;
}
@media screen and (max-width: 767px) {
  .filters-button-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 40px;
  }
}

.filters-button-section > li {
  margin: 0px 8px 0px 0px;
}
@media screen and (max-width: 767px) {
  .filters-button-section > li {
    margin: 0px 8px 15px 0px;
  }
}

.filters-button {
  color: var(--main-color);
  background: var(--filter-button-bg);
  border: 2px solid var(--filter-button-brd);
  border-radius: 4px;
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
     transition-duration: 0.4s;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  padding: 6px 22px;
}

.filters-button:hover {
  background: var(--button-backgroun);
  color: var(--button-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--button-backgroun);
}

.filters-button:focus {
  background: var(--button-backgroun);
  color: var(--button-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: var(--button-backgroun);
}

.advantages-box {
  padding-bottom: 0;
}

.our-advantages-section {
  list-style-type: none;
}
@media screen and (max-width: 767px) {
  .our-advantages-section {
    display: block;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .our-advantages-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .our-advantages-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
}

.icon-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--icon-bg);
  height: 120px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .icon-background {
    width: 270px;
  }
}
@media screen and (min-width: 1200px) {
  .icon-background {
    width: 270px;
  }
}

.advantages-icon {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .our-advantages-section > li {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .our-advantages-section > li {
    margin-bottom: 30px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .our-advantages-section > li {
    margin-left: 30px;
    margin-bottom: 0;
  }
}

.our-advantages-title {
  color: var(--main-color);
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .our-advantages-title {
    text-align: center;
  }
}

.our-advantages {
  color: var(--description-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  font-weight: var(--s-weight);
}
@media screen and (min-width: 768px) {
  .our-advantages {
    width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-hide {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .mobile-hide {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mobile-hide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.what-we-do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
.what-we-do .what-we-do-box {
  position: relative;
}
.what-we-do .what-we-do-box .what-we-do-over {
  background: var(--what-we-do-bg);
  top: 76%;
  left: 0;
  width: 100%;
  height: 70px;
  position: absolute;
}
.what-we-do .what-we-do-box .what-we-do-over > p {
  color: var(--overlay-description-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
}

.our-team-background {
  background: var(--our-team-bg);
}

.team-cards {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .team-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .team-cards > li {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .team-cards > li {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    margin: 0;
  }
  .team-cards > li {
    margin-right: 30px;
  }
}
.team-cards .personal-card {
  background: var(--personal-card-background);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-cards .personal-card .card-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-cards .personal-card .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team-cards .personal-card .profession {
  color: var(--description-color);
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.regular-customer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 30px;
  margin: 0;
}
@media screen and (max-width: 455px) {
  .regular-customer-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .regular-customer-section > li {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 456px) {
  .regular-customer-section {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .regular-customer-section > li {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .regular-customer-section > li {
    margin-right: 30px;
  }
  .regular-customer-section > li:last-child {
    margin-right: 0;
  }
  .regular-customer-section > li:nth-child(3) {
    margin-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .regular-customer-section {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .regular-customer-section > li {
    margin: 0 auto;
  }
}

.companies-block {
  border: 1px solid var(--sprite-color);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  height: 92px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .companies-block {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .companies-block {
    margin: 0;
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .companies-block {
    margin-right: 30px;
    width: 170px;
  }
}
.companies-block:hover {
  border: 1px solid var(--hover-border-color);
}
.companies-block:focus-within {
  border: 1px solid var(--hover-border-color);
}
.companies-block .companies-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
}
.companies-block .companies-link:hover > .companies {
  fill: var(--hover-border-color);
}
.companies-block .companies-link:focus > .companies {
  fill: var(--hover-border-color);
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
     transition-duration: 0.8s;
}

.companies {
  width: 106px;
  height: 60px;
  fill: var(--sprite-color);
  -webkit-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
     transition-duration: 0.8s;
}

.footer {
  background: var(--footer-bg);
  padding: 60px 0px 60px 0;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-cont > div {
    padding-bottom: 60px;
  }
  .footer-cont > div:last-child {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-cont {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .footer-cont > div:last-child {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-cont {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .footer-cont > div:last-child {
    margin-top: 0;
  }
}

.adress {
  color: var(--adress-cl);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  margin: 20px 0 0 0;
  list-style-type: none;
  padding-left: 0;
}
@media screen and (max-width: 1199px) {
  .adress {
    text-align: center;
  }
}
.address-link {
  text-decoration: none;
  color: var(--adress-link-cl);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer-contacts {
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts-cl);
  text-decoration: none;
}

.adress > li {
  margin-bottom: 9px;
}

.adress > li:last-child {
  margin-bottom: -9px;
}

.footer-icons-cont {
  margin-left: 70px;
  margin-right: 93px;
}
@media screen and (max-width: 1199px) {
  .footer-icons-cont {
    margin: 0;
  }
}

.footer-social-network-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--footer-social-contact-cl);
}
@media screen and (max-width: 1199px) {
  .footer-social-network-title {
    text-align: center;
  }
}

.footer-label-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer-label-cont {
    width: 100%;
  }
}
@media screen and (max-width: 1199px) {
  .footer-label-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-label-cont > .subscribe {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-label-cont {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.send-email {
  margin-right: 12px;
}
@media screen and (max-width: 767px) {
  .send-email {
    width: 100%;
    margin: 0;
    text-align: center;
  }
}

.subscribe-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--subscribe-title-cl);
  padding-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .subscribe-title {
    text-align: center;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 1px solid var(--footer-input-brd);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--footer-input-cl);
}
@media screen and (min-width: 768px) {
  .footer-input {
    width: 480px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 358px;
  }
}

.footer-input::-webkit-input-placeholder {
  -webkit-box-align: center;
          align-items: center;
}

.footer-input::-moz-placeholder {
  align-items: center;
}

.footer-input:-ms-input-placeholder {
  -ms-flex-align: center;
      align-items: center;
}

.footer-input::-ms-input-placeholder {
  -ms-flex-align: center;
      align-items: center;
}

.footer-input::placeholder {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-input:focus {
  outline: none;
}

.footer-link-cont:hover {
  background: var(--hover-border-color);
}

.footer-link-cont:focus-within {
  background: var(--hover-border-color);
}

.title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-content-portfolio {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 94px;
  padding-top: 94px;
}
@media screen and (max-width: 1199px) {
  .main-content-portfolio {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.our-projects-section {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .our-projects-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .our-projects-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.our-projects-section .project-card {
  margin-bottom: 30px;
  background: var(--main-background);
}
@media screen and (min-width: 768px) {
  .our-projects-section .project-card {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .our-projects-section .project-card {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.our-projects-section .project-card .project-card-link {
  text-decoration: none;
}
.our-projects-section .project-card .box {
  position: relative;
  overflow: hidden;
}
.our-projects-section .project-card .box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  -webkit-transform: translateY(200%);
      -ms-transform: translateY(200%);
          transform: translateY(200%);
  -webkit-transition: -webkit-transform 750ms ease;
  transition: -webkit-transform 750ms ease;
  -o-transition: transform 750ms ease;
  transition: transform 750ms ease;
  transition: transform 750ms ease, -webkit-transform 750ms ease;
}
.our-projects-section .project-card .box .overlay > p {
  color: var(--overlay-description-color);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.55;
  margin: 0;
}
.our-projects-section .project-card .project-description-cont-no {
  border: 1px solid #EEEEEE;
  padding: 20px 24px 20px 24px;
}
@media screen and (min-width: 768px) {
  .our-projects-section .project-card .project-description-cont-no {
    padding: 20px 0 20px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .our-projects-section .project-card .project-description-cont-no {
    padding: 20px 0 20px 20px;
  }
}
.our-projects-section .project-card .project-description-cont {
  border: 1px solid #EEEEEE;
  padding: 20px 24px 20px 24px;
}
@media screen and (min-width: 768px) {
  .our-projects-section .project-card .project-description-cont {
    padding: 20px 24px 20px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .our-projects-section .project-card .project-description-cont {
    padding: 20px 24px 20px 24px;
  }
}
.our-projects-section .project-card .project-name {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--main-color);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.our-projects-section .project-card .project-description {
  color: var(--description-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}
.our-projects-section .project-card:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.our-projects-section .project-card:hover .overlay {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.our-projects-section .project-card:focus-within {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}/*# sourceMappingURL=main.css.map */