:root {

    // color

    --main-color:                  #212121 ;
    --hover-text-color:            #2196F3;
    --description-color:           #757575;
    --button-color:                #FFFFFF; 
    --hover-sprite-color:          #FFFFFF;
    --sprite-color:                #afb1b8;
    --overlay-color:               rgba(33, 150, 243, 0.9);
    --overlay-description-color:   #fff;
    --apply-button-color:          #2196F3;
    --banner-inscr-cl:             #FFFFFF;
    --logo-color:                  #2196F3;
    --hd-logo-second-cl:           #000;
    --ft-logo-second-cl:           #FFF;
    --close-icon-cl:               #000;
    --subscribe-cl:                #FFF;
    --send-icon-cl:                #FFF;
    --adress-cl:                   #FFF;
    --adress-link-cl:              #FFF;
    --footer-contacts-cl:          rgba(255, 255, 255, 0.6);
    --footer-social-contact-cl:    #FFFFFF;
    --subscribe-title-cl:          #FFFFFF;
    --footer-input-cl:             #FFFFFF;
    --menu-color:                  #212121;
    --phone-nmb-mobile:            #2196F3;
    --phone-nmb:                   #757575;
    --email-cl:                    #757575;
    --social-name-cl:              #2196F3;
    --main-page-cl:                #2196F3;
    --modal-apply-tx:              #757575;
    --modal-title-cl:              #212121;
    
    
    // border

    --header-border-cl:            #ECECEC;
    --border-color:                #757575;
    --hover-border-color:          #2196F3;
    --footer-link-brd:             #43444D;
    --close-icon-brd:              rgba(0, 0, 0, 0.1);
    --apply-icon-brd:              #212121;
    --order-brd:                   #2196F3;
    --filter-button-brd:           #F5F4FA;
    --footer-input-brd:            rgba(255, 255, 255, 0.3);

    // bg

    --main-background:             #FFFFFF;
    --button-backgroun:            #2196F3;
    --personal-card-background:    #FFFFFF;
    --project-card-background:     #FFFFFF;
    --what-we-do-bg:               rgba(47, 48, 58, 0.8);
    --footer-link-bg:              #43444D;
    --backdrop-bg:                 rgba(0, 0, 0, 0.2);
    --order-bg:                    #2196F3;
    --filter-button-bg:            #F5F4FA;
    --footer-bg:                   #2F303A;
    --icon-bg:                     #F5F4FA;
    --our-team-bg:                 #F5F4FA;
    --menu-bg:                     #FFFFFF;

    //sprite

    --hover-sprite:                #2196F3;
    --hover-close-bt:              #2196F3;

    // weight

    --s-weight:                    400;
    --m-weight:                    500;
    --l-wight:                     700;
    --xl-weight:                   900;
    
    // timing

    --timing-function:             cubic-bezier(0.4, 0, 0.2, 1);

}