.header {
    
    @media screen and (max-width: 767px){
        position: relative;
    }
    
    @media screen and (min-width: 768px){

        border-bottom: 1px solid var(--header-border-cl);

        &__header-container {
            display: flex;
            justify-content: space-evenly
        }
    }

    @media screen and (min-width: 1200px) {
        border-bottom: 1px solid var(--header-border-cl);
        background: var(--main-background);
        padding: 24px 0 25px 0;

        &__header-container {
            display: flex;
            flex-direction: column; }
    }
}



.nav-cont{

    @media screen and (max-width: 767px) {
        padding: 16px 0 16px 15px;
    }
    

    @media screen and (min-width: 768px) {
        padding: 21px 0 5px 15px;
        display: flex;
        align-items: baseline;
        
    }

    @media screen and (min-width: 1200px) {
        padding: 0;}
    }

.nav {

    @media screen and (max-width: 767px) {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        list-style-type: none;
        padding: 48px 0 0 40px;

        & > li {
            margin-bottom: 33px;
        }

        &__main-page, &__portfolio, &__contacts-button, &__studio{
            text-decoration: none;
            @include custom-text(40px,500,1.1,var(--menu-color));
        }

        &__main-page:hover, &__portfolio:hover, &__contacts-button:hover, &__studio:hover,
        &__main-page:focus, &__portfolio:focus, &__contacts-button:focus, &__studio:focus{
            color: var(--hover-text-color);
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        list-style-type: none;

        & > li {
            margin-right: 50px;
        }

        &__main-page, &__portfolio, &__contacts-button, &__studio{
            text-decoration: none;
            @include custom-text(14px,500,1.14,var(--menu-color));
        }

        &__main-page:hover, &__portfolio:hover, &__contacts-button:hover, &__studio:hover,
        &__main-page:focus, &__portfolio:focus, &__contacts-button:focus, &__studio:focus{
            color: var(--hover-text-color);}
        
        &__main-page{
            position: relative;
            color: var(--main-page-cl);
        
            &::after {
                content: '';
                position: absolute;
                background: var(--hover-text-color);
                border-radius: 2px;
                left: 0;
                bottom: -30px;
                width: 100%;
                height: 4px;}
            } 
        }
    
        @media screen and (min-width: 1200px) {
            .nav-cont{
                display: flex;
                justify-content: start;
                align-items: center;
            
                .nav {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: 0.02em;
                    list-style-type: none;
                    padding: 0;
                    width: 294px;
                    margin: 0 0 0 93px;
            
                    &__studio {
                        -webkit-transition-duration: 0.4s;
                        transition-duration: 0.4s;
                        color: var(--main-color);
                        text-decoration: none;
                        font-style: normal;
                        font-weight: var(--m-weight);
                        font-size: 14px;
                        line-height: 1.14;
                        letter-spacing: 0.02em;
            
                        &:hover {
                            color: var(--button-backgroun);}
                
                        &:focus {
                            color: var(--button-backgroun);}
                    }
                    
                    &__portfolio {
                        -webkit-transition-duration: 0.4s;
                        transition-duration: 0.4s;
                        color: #212121;
                        text-decoration: none;
                        font-style: normal;
                        font-weight: var(--m-weight);
                        font-size: 14px;
                        line-height: 1.14;
                        letter-spacing: 0.02em;
                    
                        &:hover {
                            color: var(--button-backgroun);}
                        &.portfolio:focus {
                            color: var(--button-backgroun);}
                    }
                }
                
                .contacts-section{

                    &__contacts-button {
                        font-style: normal;
                        font-weight: var(--m-weight);
                        font-size: 14px;
                        line-height: 1.14;
                        letter-spacing: 0.02em;
                        -webkit-transition-duration: 0.4s;
                        transition-duration: 0.4s;
                        color: var(--main-color);
                        text-decoration: none;
            
                        &:hover {
                            color: var(--button-backgroun);}
                
                        &:focus {
                            color: var(--button-backgroun);}
                }
            }
        }
    }
}

@media screen and (min-width:1200px) {
    .nav__main-page{
        color: var(--hover-text-color);
        text-decoration: none;
        font-style: normal;
        font-weight: var(--m-weight);
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        position: relative;
        display: inline-block;
    
        &::after {
            content: '';
            position: absolute;
            background: var(--hover-text-color);
            border-radius: 2px;
            left: 0;
            bottom: -39px;
            width: 100%;
            height: 4px;}
        }
}


    .contacts-section{
        
        
        list-style-type: none;

        @media screen and (max-width: 767px) {
            display: flex;
            align-items: flex-start;
            flex-direction: column-reverse;
            margin-bottom: 64px;

            &:first-child > li{
                margin-top: 32px;
            }
            &__contacts{
                text-decoration: none;
                @include custom-text (24px, 500, 1.16, var(--email-cl))
            }

            &__contacts-phone{
                text-decoration: none;
                @include custom-text (34px, 500, 1.17, var(--phone-nmb-mobile))
            }

            &__contacts-icon, &__contacts-icon-phone {
                display: none;
            }
        }
    
        @media screen and (min-width: 768px) {
            padding: 0;
            margin: 0 auto;

            &:first-child > li{
                margin-bottom: 10px;
            }
            &__contacts{
                text-decoration: none;
                @include custom-text (12px, 500, 1.16, var(--email-cl))
            }

            &__contacts-phone{
                text-decoration: none;
                @include custom-text (12px, 500, 1.16, var(--phone-nmb))
            }

            &__contacts-icon{
                width: 14px;
                height: 10px;
                margin-right: 8px;}

            &__contacts-icon-phone{
                width: 10px;
                height: 14px;
                margin-right: 10px;
            }
        }

        @media screen and (min-width:1200px) { 
            display: flex; 
            flex-direction: row;

        }
    
    }

    .social-network-menu{
        display: flex;
        list-style-type: none;
        

        &__social-name{
            margin-right: 10px;
            text-decoration: none;
            @include custom-text (14px, 500, 1.2, var(--social-name-cl))
        }

        &__roll{
            margin-right: 10px;
        }

        @media screen and (min-width: 768px) {
            display: none;
        }
    }