.advantages-box {
    padding-bottom: 0;
}

.our-advantages-section {

    list-style-type: none;

    @media screen and (max-width:767px) {

        display: block;
        margin: 0 auto;
        padding: 0;
    }

    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 0;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0;
    }
    
}

.icon-background {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--icon-bg);
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    
}

  .advantages-icon{
    width: 70px;
    height: 70px;
  }

.our-advantages-section > li {
    @media screen and (max-width:767px) {
       margin-bottom: 30px;
       margin-left: 30px;
    }

    @media screen and (min-width:768px) {
        margin-bottom: 30px;
        margin-left: 30px;
    }

    @media screen and (min-width:1200px) {
        margin-left: 30px;
    }
    
}

.our-advantages-title {
    color: var(--main-color);
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    }

.our-advantages {
    color: var(--description-color);
    width: 270px;
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    font-weight: var(--s-weight);}