.mobile-hide{
    @media screen and (max-width:767px) {
        display: none;
    }

    @media screen and (min-width:768px) {
        display: none;
    }

    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.what-we-do {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    .what-we-do-box {
        position: relative;

        .what-we-do-over {
            background: var(--what-we-do-bg);
            top: 76%;
            left: 0;
            width: 100%;
            height: 70px;
            position: absolute;}

        .what-we-do-over>p{
            color: var(--overlay-description-color);
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.14;
            text-align: center;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            padding-top: 27px;}
    }
}
