// Header logo

.nav-cont__webstudio {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--logo-color);
}


.nav-cont__mark {
    color:var(--hd-logo-second-cl);}

// Footer logo

.webstudio-footer{
    
    @media screen and (max-width:1199px) {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        
    }

    font-family: 'Raleway';
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    color:var(--logo-color);}


.mark-footer {

    @media screen and (max-width:1199px) {
        margin: 0;
    }

    margin-top: 60px;
    color: var(--ft-logo-second-cl);
    }