.backdrop {

        padding: 93px 15px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--backdrop-bg);
        z-index: 1;
        opacity: 1;
        transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.is-hidden{
    opacity: 0;
    visibility:hidden;
    pointer-events: none;
}

.modal{

    background: var(--main-background);
    align-items: center;
    padding-bottom: 40px;

    @media screen and (min-width:768px) {
        top: 50%;
        left: 50%;
        margin:0 auto;
        position: absolute;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    }

    @media screen and (min-width:1200px) {
        top: 50%;
        left: 50%;
        margin:0 auto;
        position: absolute;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    }
    
}

.icon-close {
    width: 11px;
    height: 11px;
    fill: var(--close-icon-cl);
  }

  .form-cont{
      @media screen and (max-width:767px) {
       
      }
      padding: 40px 39px 0 41px;
  }

  .modal-title{

    font-weight: bold;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 12px;

    @media screen and (max-width:767px) {
        @include custom-text (20px, 500, 1.5, var(--modal-title-cl))
    }

    @media screen and (min-width:1200px) {
        @include custom-text (20px, 500, 1.15, var(--modal-title-cl))
    }
  }

  .form-label{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      padding-bottom: 10px;
      position: relative;

    &:hover>.icon-name{
        fill: var(--hover-border-color);}
  
  
    &:focus-within>.icon-name{
      fill: var(--hover-border-color);}
  
    &:hover>.icon-phonelabel{
        fill: var(--hover-border-color);}
  
    &:focus-within>.icon-phonelabel{
        fill: var(--hover-border-color);}
  
    &:hover>.icon-emaillabel{
        fill: var(--hover-border-color);}
  
    &:focus-within>.icon-emaillabel{
        fill: var(--hover-border-color);}
  }

  .form-input{
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid var(--border-color);
    border-radius: 4px;

    &:hover{
        border-color: var(--hover-border-color);}

    &:focus{
        border-color: var(--hover-border-color);
        outline: none;}
}

  .input-name{
      padding-bottom: 4px ;
  }

  .icon-name{
      width: 12px;
      height: 12px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-15%);
  }

  .icon-phonelabel {
      width: 13px;
      height: 13px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-15%);
  }

  .icon-emaillabel{
      width: 15px;
      height: 12px;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-15%);
  }

  .comment{
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
    padding: 12px 16px;
    border: 1px solid var(--border-color);
    border-radius: 4px;

    &:hover{
        border: 1px solid var(--hover-border-color);}
  
    &:focus{
        outline: none;
        border: 1px solid var(--hover-border-color);}
}

  .apply{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;}

  .apply-icon{
    display: inline-block;
    width: 18px;
    height: 15px;
    border: 2px solid var(--apply-icon-brd);
    border-radius: 2px;}
  
  .terms{
      @include custom-text (12px, 500, 1.16, var(--hover-text-color));
      padding-left: 3px;}

  .apply-title{

    @media screen and (max-width:767px) {
        @include custom-text (12px, 500, 1.16, var(--modal-apply-tx))
    }

    @media screen and (min-width:1200px) {
        padding-left: 8px;
    }
  }
      